<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/toggle">
  <input style="background: #00B7FF;color:#fff;" type="submit" value="Turn <%=toggle%>">
    </form>
  </body>
</html>
